/EX-1/nbproject/private/
/EX-1/build/
/JSPDemo/nbproject/private/
/JSPDemo/build/
/MVC-Sample/nbproject/private/
/MVC1_list/nbproject/private/
/LAB_Add2Nums/nbproject/private/
/LAB_Add2Nums/build/
/MVC1_list/build/
/mvc1_list_2/mvc1_list_2/build/
/mvc1_list_2/mvc1_list_2/nbproject/private/
/TodoApp/nbproject/private/
/TodoApp/build/
